BOT_TOKEN=
MONGODB_URI=
QUOTE_API_URI=
REDIS_HOST=redis-10702.c261.us-east-1-4.ec2.cloud.redislabs.com
REDIS_PORT=10702
REDIS_USERNAME=default
REDIS_PASSWORD=h97ewTOPmZSnmTDP94kiZBHs26SSUcV4
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
